/make.profile
/savedconfig/

/binrepos.conf/my-*
/env/my-*
/package.accept_keywords/my-*
/package.license/my-*
/package.mask/my-*
/package.use/my-*
/repos.conf/my-*
/scripts/my-*

/binrepos.conf/00my-*
/env/00my-*
/package.accept_keywords/00my-*
/package.license/00my-*
/package.mask/00my-*
/package.use/00my-*
/repos.conf/00my-*
/scripts/00my-*

*.swp
*~
/make-local.conf
